<div id="<%= dom_id leave_request %>">
  <p>
    <strong>Employee:</strong>
    <%= leave_request.employee_id %>
  </p>

  <p>
    <strong>Leave:</strong>
    <%= leave_request.leave_id %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= leave_request.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= leave_request.end_date %>
  </p>

</div>
