<p style="color: green"><%= notice %></p>

<%= render @leave_request %>

<div>
  <%= link_to "Edit this leave request", edit_leave_request_path(@leave_request) %> |
  <%= link_to "Back to leave requests", leave_requests_path %>

  <%= button_to "Destroy this leave request", @leave_request, method: :delete %>
</div>
