<ul>
  <li><%= link_to "Home", root_path, class: "nav-link" %></li>
  <li><%= link_to "Leaves", leaves_path, class: "nav-link" %></li>
  <li><%= link_to "Performance", performances_path, class: "nav-link" %></li>
  <li><%= link_to "Salary", salaries_path, class: "nav-link" %></li>
  <li><%= link_to "Events", events_path, class: "nav-link" %></li>
  <li><a href='#settings'>FAQ's</a></li>
  <li><a href='#settings'>Submit a Ticket</a></li>
  <li><a href='#settings'>Network Status</a></li>
</ul>


<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}
</style>
