<!DOCTYPE html>
<html>
  <head>
    <title>OfizGo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' %>

  </head>

  <body style="background-color:white;">
    <div id="top-navigation">
      <%= render 'shared/top_navigation' %>
    </div>
    <div id="left-menu">
      <%= render 'shared/navigation' %>
    </div>
    <div id="work-area">
      <%= yield %>
    </div>
  </body>
</html>
